[Desktop Entry]
Type=Action
Name=Ouvrir fichier .url
Profiles=profile-zero

[X-Action-Profile profile-zero]
MimeTypes=application/x-mswinurl;
Exec=/home/nis/.local/bin/ouvrir-url.py %f

